<header class="header">
  <div class="header__container">
    <a class="header__logo" href="#">
      {% include '@components/image.twig' with {
        'image': logo,
      } %}
    </a>
  </div>
</header>
